{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card text-center shadow-sm-5 mb-3">
            <div class="card-header">Welcome to Fintra</div>
            <div class="card-body">
              <h5 class="card-title">Manage Your Finances</h5>
              <p class="card-text">Please choose an option below:</p>
              <div class="d-grid gap-2">
                <a href="login.html" class="btn btn-primary btn-lg">Login</a>
                <a href="create-user.html" class="btn btn-secondary btn-lg"
                  >Create New Account</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
</html>
